@font-face {
    font-family: "Robotesqa";
    src: url('fonts/robotesqa-4f-webfont.woff2') format('woff2'),
         url('fonts/robotesqa-4f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: rgb(100, 100, 100);
    padding: 1%;
    /* color: chartreuse; */
    font-family:"Robotesqa" ;
    font-weight: normal;
    /* font-size: 1em; */
    overflow: hidden;
}

/* Image */

.image{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.ecran{
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;
}

/* Texte */

.console h1{
    font-size: 2rem;
    font-weight: normal;
}

.console h2{
    font-size: 1.5rem;
    font-weight: normal;
}

#texte{
    z-index: 4;
}

.texte{
    color: chartreuse;
}

.texte p{
    color: white;
    padding-bottom: 20px;
}

.colonne1 a{
    color: chartreuse;
    text-decoration: none;
    /* position: relative; */
    cursor: pointer;
    /* top: 39vh; */
    bottom: 0;
    font-size: 1.2rem;
    cursor: pointer;
    /* padding-bottom: 60px; */
}

@media screen and (max-width:1400px) {
    .colonne1 a{
        top: 25vh;
    }
}

.texte{
    position: absolute;
    top: 9vh;
    left: 14vw;
    height: 70vh;
    width: 75vw;
    z-index: 2;
    /* padding: 5vw 7vw; */
    /* border: springgreen solid; */
    display: flex;
}

.colonne1{
    /* border: pink solid; */
    width: 50%;
}

.colonne2{
    /* border: red solid; */
    width: 50%;
    padding-left: 30px;
    padding-top: 6vh;
}

/* Bouton Passer */

#passer, .clique{
    position: absolute;
    top: 16vh;
    left: 18vw;
    height: 70vh;
    width: 70vw;
}

#passer button, .clique button{
    font-family:"Robotesqa" ;
    position: absolute;
    right: 0;
    top: 58vh;
    height: max-content;
    width: max-content;
    border-radius: 10px;
    border: chartreuse solid;
    background-color: transparent;
    color: chartreuse;
    cursor: pointer;
    z-index: 4;
}