* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #fff;
    font-size: 0.85rem;
    margin: 0;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

body {
    background-image: url(img/1.png);
}

/* Parallax en continue sur les différents calques */

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-0 {
    background: url(img/8.png) 0 100% repeat-x;
    background-size: auto 90vh;
}

.layer-1 {
    background: url(img/7.png) 0 100% repeat-x;
    background-size: auto 90vh;
}


.layer-2 {
    background: url(img/6.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -1;
}

.layer-3 {
    -webkit-animation: parallax_fg linear 75s infinite both;
    animation: parallax_fg linear 75s infinite both;
    background: url(img/5.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -2;
}

.layer-4 {
    -webkit-animation: parallax_fg linear 95s infinite both;
    animation: parallax_fg linear 95s infinite both;
    background: url(img/4.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -3;
}

.layer-5 {
    -webkit-animation: parallax_fg linear 120s infinite both;
    animation: parallax_fg linear 120s infinite both;
    background: url(img/3.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -4;
}

.layer-6 {
    -webkit-animation: parallax_fg linear 50s infinite both;
    animation: parallax_fg linear 50s infinite both;
    background: url(img/2.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -5;
}

@-webkit-keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

@keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

/* Pour l'effet d'OVERLAY donc affichage de la tablette*/
.overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 103vh;
    top: 0;

    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}

.tablette{
    position: absolute;
    top: 5px;
    z-index: 0;
    width: 100%;
    height: 103vh;
}

#text {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100vw;
    height: 103vh;
    padding: 0px 25vw 100px 25vw;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiches {
    position: relative;
    top: 5vh;
    margin: auto;
    height: 89vh;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 10px;
}

/* .close-tablet {
    fill: #fff;
} */

.precedent { /*Bouton précedent*/
    position: absolute;
    width: 40px;
    right: 0;
    top: 6vh;
}

.titre-fiche-metier {
    font-family: 'SpaceAge';
    color: #00f6e8;
    font-size: 1.5rem;
    text-align: center;

    padding-top: 40px;
    width: 30vw;

    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1400px) {
    .titre-fiche-metier{
        font-size: 1.3rem;
        padding-top: 10px;
        /* width: 30vw; */
    }
}

.cartefiche {
    position: absolute;
    top: 20.5vh;
    left: 1vw;

    width: 50vw;
    height: 57vh;
    padding: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border-radius: 15px;
    padding: 17px 10px;
    margin: 8px;
    width: 15vw;
    border: #00f6e8 solid;
    overflow-wrap: break-word;
    height: max-content;
}

@media screen and (max-width:1630px) {
    .card {
        width: 16.5vw;
    }

    .cartefiche{
    justify-content: center;
    }
}

.content-wrapper {
    margin-bottom: 10px;
}

.content-wrapper .intro {
    margin-bottom: 0;
    height: 81px;
    overflow: hidden;
}

.titre{
    font-family: 'Space age';
    color: #00f6e8;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 13px;
}

.card p {
    font-family: 'Arial Rounded MT';
    color: #00f6e8;
    font-size: 0.75rem;
    padding-bottom: 10px;
}

.button {
    font-family: 'Arial Rounded MT Bold';
    font-size: 1em;
    color: black;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;

    background: #00f6e8;
    border-radius: 4px;
    height: 40px;
    width: 100%;

    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: #00f6e8;
    border: #00f6e8 solid 1px;
}

/* Modal (qui apparaît après clic) */

.modal-wrapper {
    background-color: rgba(0, 18, 26, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: auto;
}

.modal-body {
    background-color: rgba(0, 18, 26, 0.8);
    border-radius: 16px;
    padding: 32px;
    margin: 40px;
    border: #00f6e8 solid;
    box-shadow: 0px 0px 50px 15px #00f6eaa6;
    position: absolute;
    top: 2vh;
}

@media screen and (max-width:1450px) {
    .modal-body {
        top: 0;
        max-width: 80vw;
    }
}

@media screen and (min-width:1300px) {
    .modal-body {
        width: 55vw;
    }
}

.modal-body p {
    font-family: 'Arial Rounded MT';
    color: #92fffa;
}

.modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.modal {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal:target .modal-body {
    opacity: 1;
    transform: translateY(1);
}

.modal .modal-body {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.close svg {
    width: 16px;
    float: right;
}

/* Gérer le reste */

.perso {
    position: relative;
    top: 27%;
    left: 70vw;
    bottom: 0;
    z-index: 1;
    height: 70vh;
}

.batiments {
    position: relative;
    margin: 20px;
    left: 90vw;
    bottom: 20%;
    z-index: 1;
    height: 40vh;
    cursor: pointer;
}

.son {
    bottom: 40%;
    top: 30%;
    height: 60vh;
}

.image {
    top: 60%;
    bottom: 10%;
    height: 30vh;
}

.decor {
    height: 35vh;
    top: 57%;
}

.texte {
    top: 40%;
    height: 50vh;
    bottom: 10%;
}

.direction {
    top: 55%;
    right: 50px;
    height: 40vh;
}