* {
    box-sizing: border-box;
}

body {
    background-image: url(img/1.png) ;
}

/* Parallax en continue sur les différents calques */

.layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-0{
    background: url(img/8.png) 0 100% repeat-x;
    background-size: auto 90vh;
}

.layer-1{
    background: url(img/7.png) 0 100% repeat-x;
    background-size: auto 90vh;
}


.layer-2{
    background: url(img/6.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -1;
}

.layer-3 {
    -webkit-animation: parallax_fg linear 75s infinite both;
    animation: parallax_fg linear 75s infinite both;
    background: url(img/5.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -2;
}

.layer-4 {
    -webkit-animation: parallax_fg linear 95s infinite both;
    animation: parallax_fg linear 95s infinite both;
    background: url(img/4.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -3;
}

.layer-5 {
    -webkit-animation: parallax_fg linear 120s infinite both;
    animation: parallax_fg linear 120s infinite both;
    background: url(img/3.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -4;
}

.layer-6 {
    -webkit-animation: parallax_fg linear 50s infinite both;
    animation: parallax_fg linear 50s infinite both;
    background: url(img/2.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -5;
}



@-webkit-keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

@keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

/* OVERLAY */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  /* overflow:auto; */
}

body {
    /* color: #121943; */
    /* display: flex; */
    /* flex-direction: grid; */
    font-family: "Lato", sans-serif;
    font-size: 0.85rem;
    margin: 0;
    height: 100vh;
    /* place-items: center; */
    
}

.card {
    display: inline-block;
    background-image: linear-gradient(48deg, #fff 0%, #e5efe9 100%);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -20px 20px 35px 1px rgba(10, 49, 86, 0.18);
    /* display: flex;
    flex-direction: column; */
    padding: 10px 10px;
    margin: 15px;
    /* width: 15vw; */
    width: 20vw;
    height: 30vh;
}

.content-wrapper {
    /* font-size: 1.1em; */
    margin-bottom: 10px;
}

.cartefiche {
    position: absolute;
    bottom: 9.8vh;
    left: 22vw;
    width: 38vw;
    height: 59vh;
    overflow: auto;
}

.content-wrapper .intro {
    margin-bottom: 0;
    height: 80px;
    overflow: hidden;
}

.titre {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.button {
    background: #ebebeb;
    /* border: 1px solid #5a72b5; */
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    text-decoration: none;

}

.button:hover {
    background-color: rgb(207, 207, 207);
}

.modal-wrapper {
    background-color: rgba(0, 18, 26, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: auto;
}

.modal-body {
    background-color: rgba(0, 18, 26, 0.8);
    border-radius: 16px;
    padding: 32px;
    margin: 40px;
    border: #00f6e8 solid;
    box-shadow: 0px 0px 50px 15px #00f6eaa6;
    position: absolute;
    top: 2vh;
}

.modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.modal {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal:target .modal-body {
    opacity: 1;
    transform: translateY(1);
}

.modal .modal-body {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.close svg {
    width: 16px;
    float: right;
}


/* POUR L'OVERLAY */

.close-tablet{
    fill: #fff;
}
#overlay {
position: fixed;
    display: none;
    width:100vw;
    height: 103vh;
    top: 0;

    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
  }
  
  #text{
      position: absolute;
      top: 5px;
      z-index: 1;
      width: 100vw;
      height: 103vh;
      background-image: url(img/tablette.png);
      background-size:contain;
      background-repeat: no-repeat;
      background-attachment:fixed;
      padding: 100px 25vw 100px 25vw;
      overflow: hidden;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
    /* position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
  }

  .titre-fiche-metier{
    font-family: 'SpaceAge';
    font-size: 1.5rem;
    color: #00f6e8;
    text-align: center;
  }

  /* .tablette {
    position: absolute;
    top: 5px;
    z-index: 1;
    width: 100vw;
    height: 103vh;
} */


/* Gérer le reste */

.homer {
    position: relative;
    top: 40%;
    left: 30vw;
    bottom: 0;
    z-index: 1;
    width: 200px;
}

.batiments{
    position: relative;
    margin: 20px;
    top:40%;
    left: 90vw;
    bottom: 0;
    z-index: 1;
    height: 40vh;
    cursor: pointer;
}

.son{
    top: 50%;
}

.image{
    top: 55%;
}
.decor{
    height: 35vh;
    top: 53%;
}
.texte{
    top: 55%;
}

.direction{
    top: 55%;
    right: 50px;
}