@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'SpaceAge';
    src: url(fonts/SpaceAge.woff) format('woff'),
    url(fonts/SpaceAge.woff2) format('woff2');
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    cursor: url("img/curseur.png"), auto;
}

/* Création du menu */

.menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -25vw; /*Pour mettre à gauche on change avec 'left'*/
    height: 100vh;
    width: 25vw;
    background-color: rgba(126, 3, 75, 0.61);
    transition: .3s;
    border-bottom-right-radius: 30vw; /*Arrondir les bords*/
    border-top-right-radius: 30vw;
}

nav h1 {
    font-size: 5vw;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-top: 17vh;
    margin-bottom: 0;
    font-family: 'SpaceAge';
}

nav h2 {
    font-family: 'SpaceAge';
    font-size: 4vh;
    text-align: left;
    padding-left: 20px;
    color: white;
    /* margin-left: 1.5vh; */
}

.menu-link li {
    text-align: left;
    list-style-type: none;
    margin-left: 20px;
}

.menu-link ul{
    margin: 0;
    padding: 0;
}

.menu-link a{
    text-decoration: none;
}

.menu-link a:hover{
    text-decoration: underline;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: lighter;
    font-weight: 300;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

/*Icon menu burger */

.active { /*Faire apparaître le menu*/
    left: 0;
}

.active-2 { /*Déplacer l'icon du menu quand on clique dessus*/
    left: 15vw; /*Si menu à gauche: 'left'*/
    transition: .3s;
    z-index: 21;
}

button {
    position: fixed;
    top: 3vh;
    left: 3vh; /*Pour mettre à gauche on change avec 'left'*/
    background-color: transparent;
    border: none;
    outline: none;
    transition: .3s;
    z-index: 22;
}

/* Création de l'icone du bouton du menu */

#icon-menu {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#icon-menu span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 9px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

#icon-menu span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#icon-menu span:nth-child(2) {
    top: 15px;
    transform-origin: left center;
}

#icon-menu span:nth-child(3) {
    top: 30px;
    transform-origin: left center;
}

#icon-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#icon-menu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#icon-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}