* {
    box-sizing: border-box;
}
body {
    cursor: url("img/curseur.png"), auto;
    background-image: url(img/1.png) ;
}

/* Parallax en continue sur les différents calques */

.layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .layer-1{
    background: url(img/7.png) 0 100% repeat-x;
    background-size: auto 90vh;
} */


.layer-2{
    background: url(img/6.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -1;
}

.layer-3 {
    -webkit-animation: parallax_fg linear 75s infinite both;
    animation: parallax_fg linear 75s infinite both;
    background: url(img/5.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -2;
}

.layer-4 {
    -webkit-animation: parallax_fg linear 95s infinite both;
    animation: parallax_fg linear 95s infinite both;
    background: url(img/4.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -3;
}

.layer-5 {
    -webkit-animation: parallax_fg linear 120s infinite both;
    animation: parallax_fg linear 120s infinite both;
    background: url(img/3.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -4;
}

.layer-6 {
    -webkit-animation: parallax_fg linear 50s infinite both;
    animation: parallax_fg linear 50s infinite both;
    background: url(img/2.png) 0 100% repeat-x;
    background-size: auto 90vh;
    z-index: -5;
}



@-webkit-keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

@keyframes parallax_fg {
    0% {
        background-position: 2765px 100%;
    }

    100% {
        background-position: 550px 100%;
    }
}

/* FICHE METIER */
.modal-wrapper {
    background-color: rgba(13, 0, 26, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: auto;
}

.modal-body {
    background-color: rgba(16, 0, 26, 0.8);
    border-radius: 16px;
    padding: 32px;

    border: #690052a6 solid;
    box-shadow: 0px 0px 50px 15px #690052a6;
    position: absolute;
    top: 2vh;

}

@media screen and (max-width:1450px) {
    .modal-body {
        top: 0;
        max-width: 80vw;
    }
}

@media screen and (min-width:1300px) {
    .modal-body {
        width: 55vw;
    }
}

.modal-body p{
    margin: 0;
    font-family: 'Arial Rounded MT';
    color: #ffd4efa6;
}

.modal-header h2{
    font-family: 'SpaceAge';
    color: #ffd4efa6;
    font-size: 1.8rem;
}

.modal-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.modal {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    visibility: hidden;
    
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal:target .modal-body {
    opacity: 1;
    transform: translateY(1);
}

.modal .modal-body {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.close svg {
    width: 16px;
}


/* Gérer le reste */

.fusee{
    height: 120vh;
    width: 30vw;
    position: absolute;
    bottom: 25px;
    z-index: 3;
}
.destination{
    position: absolute;
    font-family: 'SpaceAge', Arial, Helvetica, sans-serif;
    color: #000;
    text-shadow: 3px 3px #610000;
    font-size: 2.5rem;
    top: 1vh;
    left: 30vw;
    z-index: 3;
    height: 200px;
}
.presentation{
    color: #fff;
    font-size: 0.6875rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 45vw;
    height: 45vh;
    padding: 10vh;
    position: absolute;
    top: 30vh;
    left: 30vw;
    z-index: 3;
    border-radius: 72% 28% 70% 50% / 57% 70% 50% 63% ;
    background-color: rgba(26, 0, 0, 0.8);


    border: #630000a6 solid;
    box-shadow: 0px 0px 50px 15px #630000a6;
}

.perso {
    position: relative;
    top: 25%;
    left: 65vw;
    bottom: 0;
    z-index: 1;
height: 75vh;
}

.batiments{
    position: relative;
    margin: 20px;
    top:40%;
    left: 75vw;
    bottom: 0;
    z-index: 1;
    height: 40vh;
    cursor: pointer;
}

.infographiste{
    top: 50%;
    left: 80vw;
}

.maquettiste{
    top: 50%;
    left: 85vw;
}
.webdesigner{
    height: 35vh;
    top: 53%;
    left: 90vw;
}
.designer{
    top: 55%;
    left: 95vw;
}

.concepteur{
    top: 55%;
    left: 100vw;
}

.game{
    top: 55%;
    left: 105vw;
}

.motion{
    top: 55%;
    left: 110vw;
}