/*Parallax étoile*/
*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    cursor: url("image/curseur.png"), auto;
    background-image: url(image/galaxie.jpg);
    background-size: 150px;
    background-repeat: repeat;
}

.layer1{
    background-image: url("image/etoile.png");
    background-size: 200px;
    background-repeat: repeat;
}

.planète1{
    position: relative;
    left: 25vw;
    width: 20vw;
    display: block;
    z-index: 2;
}

.planète2{
    position: relative;
    left: 60vw;
    width: 20vw;
    display: block;
}

.planète3{
    position: relative;
    left: 20vw;
    width: 20vw;
    display: block;
}

.planète4{
    position: relative;
    left: 60vw;
    width: 20vw;
    display: block;
}

h1{
    font-size: 8vw;
    margin-bottom: 10vw;
    color: white;
    text-align: center;
}

img{
    transition: 1s;
}

img:hover{
    /* L'image est grossie de 25% */
    -webkit-transform: scale(1.25);
    /* Safari et Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    transition: 1s;
}

