@font-face {
    font-family: 'SpaceAge';
    src: url(fonts/SpaceAge.woff) format('woff'),
    url(fonts/SpaceAge.woff2) format('woff2');
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(fonts/ArialRoundedMTBold.woff) format('woff'),
    url(fonts/ArialRoundedMTBold.woff2) format('woff2');
}



/*Parallax étoile*/
*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    cursor: url("image/curseur.png"), auto;
    background-image: url(image/galaxie.jpg);
    background-size: 450px;
    background-repeat: repeat;
    overflow-x: hidden;

    font-family:'Arial Rounded MT Bold', sans-serif;
    font-size: 1.125rem;
}

/* Fond étoile */

.layer1{
    background-image: url("image/etoile.png");
    background-size: 600px;
    background-repeat: repeat;
}

/* Haut de la page Accueil */

.first{
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative;
}

.middle{
    margin: auto;
}

.FiltersOrScroll{
    position: absolute;
    bottom: 7vh;
}

h1{
    font-family: 'SpaceAge', sans-serif ;
    font-size: 5vw;
    color: white;
    text-align: center;
}

p{
    font-family:'Arial Rounded MT Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.125rem;
    padding: 5px;
    position: relative;
}

.logo{
    width: 70px;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: .3s;
}

svg{
    width: 60px;
    position: absolute;
    top: 20px;
    left: 50px;
    fill: white;
}

.rocket{
    width: 10%;
    position: absolute;
    top: 50vh;
    left: 10vw;
}

.DUTPlanet{
    width: 15%;
    position: absolute;
    top: 15vh;
    left: 20vw;
}

.satellite1{
    width: 15%;
    position: absolute;
    top: 50px;
    right: 35vw;
}

.satellite2{
    width: 15%;
    position: absolute;
    top: 20vh;
    right: 10vw;
}

.FiltersButton{
    display: block;
    text-decoration: none;
    background-color: #314489;
    font-family:'Arial Rounded MT Bold', sans-serif;
    color: white;
    text-align: center;
    font-size: 1rem;
    width: 30vw;
    margin: 5px;
    margin-top: 100px;
    padding: 12px;
    border-radius: 16px;
    transition: background-color 0.8s ease;
}

.FiltersButton:hover{
    background-color: #758ace;
}

/* Positionnement des planètes */

.planete{
    margin-top: 100px;
    margin-bottom: 100px;
}

.planète1{
    position: relative;
    left: 20vw;
    width: 25vw;
    display: block;
    z-index: 2;
}

.planète2{
    position: relative;
    left: 60vw;
    width: 25vw;
    display: block;
}

.planète3{
    position: relative;
    left: 20vw;
    width: 25vw;
    display: block;
}

.planète4{
    position: relative;
    left: 60vw;
    width: 25vw;
    display: block;
}


/* Effet zoom sur les planètes */

.clickable{
    transition: 1s;
}

.clickable:hover{
    transform: scale(1.25);
    transition: 1s;
}

/* Bas de page */

footer{
    /* background-image: url(image/surfaceplanete.png);
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400PX;
    padding: 0;
    z-index: 10;
}

.BottomPlanet{
    left: 0;
    bottom: 0;
    z-index: -1; 
    position: absolute;
    width: 100vw;
}

/* Formulaire */

form{
    text-align: center;
    margin-bottom: 20vh;
}

input, textarea{
    margin: 5px;
    padding: 10px;
    width: 30vw;
    background-color: #2e312f;
}

input[type="submit"] {
    float: right;
    color: white;
    background-color: #39854c;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 15vw;
    font-family: 'SpaceAge', sans-serif;
    font-size: 1.625rem;
    transition: background-color 0.8s ease;
}

input[type="submit"]:hover{
    background-color:#74af83;
}

legend{
    font-family: 'SpaceAge', sans-serif;
    color: #000;
    text-align: center;
    font-size: 1.625rem;
    margin: 15px;
}

::placeholder{
    font-family:'Arial Rounded MT Bold', sans-serif;
    color: rgb(146, 146, 146);
    font-size: 1rem;
}

input:focus, textarea:focus{
    outline: 1px solid #70b682;
    background-color: #3a443c;
}