/*Faire un scroll horizontal :*/

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;

    height: 100vh;
    background-size: 100% 100%;
    background-attachment: scroll;

}

.container{
    
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    /*Suprimer scroll horizontale :*/
        overflow-x: hidden; 
        /*pour IE et mozilla*/ 
        -ms-overflow-style: none;
        scrollbar-width: none; /*Retirer la barre du scroll horizontal*/
}

.blocHorizontal{
    display: flex;
    /* flex-direction: row; mettre des ranger */
    /* width: 400vw;  Parce que que 4 slide */
    width: 200vw; /*Parce que 2 slide*/
    transform: rotate(90deg) translateY(-100vh); /*retourner la page de 90°*/
    transform-origin: top left; /*tourner par rapport à en haut à gauche*/
}

.slide{
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    font-size: 100px;
}

::-webkit-scrollbar{ /*pour chrome et safari permet de suprimer la barre de scroll*/
    display: none;
}

.homer{
    position: relative;
    top: 30vh;
    left: 30vw;
    bottom: 0;
    z-index: 10;
    width: 200px;
}