*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'robotesqa';
    src: url(fonts/robotesqa-4f-webfont.woff) format('woff'),
        url(fonts/robotesqa-4f-webfont.woff2) format('woff2');
}

/* GENERAL */
body {
    font-family: 'robotesqa', Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.logo {
    width: 70px;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: .3s;
}

.pc {
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;

}

.ecran {
    height: 65vh;
    width: 75vw;
    position: absolute;
    top: 11vh;
}

.retour{
    position: absolute;
}

.folder {
    width: 50px;
}

.folders-flex {
    display: flex;

}

.photo {
    width: 35%;
    margin: 15px;
    border-radius: 15%;
}

@media screen and (max-height:700px) {
    .photo{
        width: 27%;
    }
}

h1 {
    margin: auto;
    text-align: center;
    color: chartreuse;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    color: chartreuse;
}

h3 {
    margin: 0;
    font-size: 1rem;
}

p {
    font-size: 0.875rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;

}

.carte {
    display: flex;
    align-items: center;
    margin: 15px auto;
}

.profils {
    display: flex;
    justify-content: space-between;
}