@font-face {
    font-family: 'SpaceAge';
    src: url(fonts/SpaceAge.woff) format('woff'),
        url(fonts/SpaceAge.woff2) format('woff2');
        font-weight: 400;
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(fonts/ArialRoundedMTBold.woff) format('woff'),
        url(fonts/ArialRoundedMTBold.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-image: url('image/galaxie.jpg');
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logo {
    width: 70px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: .3s;
    z-index: 3;
}

.tablette {
    position: absolute;
    top: 5px;
    z-index: 1;
    width: 100vw;
    height: 103vh;
}

main {
    position: relative;
    top: 5vh;
    margin: auto;
    height: 89vh;
    width: 60vw;
    z-index: 2;
    display: flex;
}

/* Titre principal de la tablette */

main h1 {
    text-align: center;
    font-family: 'SpaceAge';
    color: #00f6e8;
    height: max-content;
    width: 100%;
    margin-top: 7vh;
    font-size: 2rem;
}

@media screen and (max-width:1630px) {
    main h1 {
        font-size: 1.5rem;
    }
}

/* Section filtre */

.filtre {
    position: absolute;
    bottom: 7vh;
    color: #00f6e8;
    height: 58vh;
    width: 17vw;
    display: inline-block;
    margin: 5vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

form {
    padding-left: 3vw;
}

main section>h2 {
    font-family: 'SpaceAge';
    font-size: 2rem;
    color: #00f6e8;
    text-align: center;
    margin: 0;
    padding-top: 0.5vh;
}

form>h2 {
    font-family: 'Arial Rounded MT Bold';
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 4px;
}

form>label,input{
    font-family: 'Arial Rounded MT';
    font-size: 0.8rem;
    padding-top: 5px;
    padding-right: 9px;
}

@media screen and (max-width:1500px) {
    .filtre>h2{
        font-size: 1.3rem;
    }

    .filtre{
        margin: 4vh;
    }

    form>h2{
        font-size: 0.8rem;
        margin-top: 7px;
    }

    form > label, input {
        font-size: 0.7rem;
        padding-top: 0;
    }

    form{
        padding-bottom: 10px;
    }
}

/* Section fiches métiers */

.cartefiche {
    position: absolute;
    bottom: 9.8vh;
    left: 22vw;
    width: 38vw;
    height: 59vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@media screen and (max-width:1500px) {
    .cartefiche>h2{
        font-size: 1.3rem;
    }

}

/* Modification du bouton type checkbox */

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] +label {
    position: relative;
    padding-left: 1.1rem;
}

input[type="checkbox"]+label::before,
input[type="checkbox"]+label::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
}

input[type="checkbox"]+label::before {
    border: 1px solid #00f6e8;
}

input[type="checkbox"]:checked+label::after {
    background-color: #00f6e8;
}